<ion-view >
  <ion-content class="padding">
    <div class="list">


      <div class="item item-icon-left" >
        <i class="icon ion-archive"></i>
        +1.21 BTCD
        <span class="item-note">
                        <button class="button button-positive button-small">
  Block Explorer
</button>
                        </span>
      </div>

      <div class="item item-icon-left" >
        <i class="icon ion-archive"></i>
        +0.12 BTCD
        <span class="item-note">
                        <button class="button button-positive button-small">
      Block Explorer
      </button>
                        </span>
      </div>

      <div class="item dark item-icon-left" >
          <i class="icon ion-paper-airplane"></i>
        -0.12 BTCD
        <span class="item-note">
                        <button class="button button-positive button-small">
      Block Explorer
      </button>
                        </span>
      </div>
</div>

    <div class="row">
        <div class="transaction-box">
            <ul class="transaction-list">
                <li>
                  <ul class="innr-list">
                    <li>Activity</li>
                    <li>Label</li>
                    <li>Amount</li>
                    <li>Time</li>
                    <li>Details</li>
                  </ul>
                </li>
                <li>
                  <ul class="innr-list">
                    <li>
                      <span class="icon"><img src="img/icon1.png"></span>
                    </li>
                    <li>Payment to Bob</li>
                    <li>
                      <strong>-3 BTC</strong>
                    </li>
                    <li>2 Days</li>
                    <li>
                      <span class="new-btn">
                        <a href="#">BlockExplorer</a>
                      </span>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul class="innr-list">
                    <li>
                      <span class="icon"><img src="img/icon2.png"></span>
                    </li>
                    <li>Received</li>
                    <li>
                      <strong>5 BTC</strong>
                    </li>
                    <li>6 months</li>
                    <li>
                      <span class="new-btn">
                        <a href="#">BlockExplorer</a>
                      </span>
                    </li>
                  </ul>
                </li>
            </ul>

            <span class="big-btn">
              <a href="">BlockExplorer Search</a>
            </span>
        </div>
</div>
  </ion-content>
</ion-view>
