<ion-view>
    <ion-content>
    <div class="topbar-container"
      ng-include="'templates/subheader-view.html'">
    </div>
        <div class="row">
            <div class="col text-right">
                <h4 class="m0 p0i name-wallet">
                    <span>From: <span class="color-grey">322323234543564656565</span></span>
                    <a class="button button-icon icon ion-close-circled color-alert pull-right"></a>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list">
                    <label class="item item-input item-stacked-label item-icon-right">
                        <span class="input-label">To</span>
                        <input type="text" placeholder="Bitcoin Address">
                        <i class="icon ion-person-stalker"></i>
                    </label>
                    <label class="item item-input item-stacked-label item-icon-right">
                        <span class="input-label">Amount</span>
                        <input type="text" placeholder="Amount in BTC">
                        <i class="icon ion-social-bitcoin"></i>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Note <span>Optional</span></span>
                        <input type="text">
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-60 col-offset-20">
                <button class="button button-positive button-block button-rounded">
                    SEND
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
