<ion-view >
  <ion-content >
    <div class="topbar-container"
  ng-include="'templates/subheader-view.html'">
</div>
    <div class="list">


      <div class="item item-icon-left" >
        <i class="icon ion-archive"></i>
        +1.21 BTCD
        <span class="item-note">
                        <button class="button button-positive button-small">
  Block Explorer
</button>
                        </span>
      </div>
      <div class="item dark item-icon-left" >
          <i class="icon ion-paper-airplane"></i>
        -0.12 BTCD
        <span class="item-note">
                        <button class="button button-positive button-small">
      Block Explorer
      </button>
                        </span>
      </div>
      <div class="item item-icon-left" >
        <i class="icon ion-archive"></i>
        +0.12 BTCD
        <span class="item-note">
                        <button class="button button-positive button-small">
      Block Explorer
      </button>
                        </span>
      </div>


</div>
  </ion-content>
</ion-view>
