<ion-view view-title="Advanced">
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-right" ui-sref="setting.walletInfo">
                Wallet Information
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right" ui-sref="setting.sweepWallet">
                Sweep Paper Wallet
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right" ui-sref="setting.exportWallet">
                Export Wallet
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right" ui-sref="setting.transaction">
                Transaction History
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right" ui-sref="setting.peerManagement">
                Peer Management
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
