<ion-view view-title="Backup">
    <ion-content>
        <h3 class="text-center">Write your wallet seed</h3>
        <p class="text-center">
            You need the wallet seed to restore this personal wallet. <br>
            Write it down and keep it somewhere safe
        </p>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="">
            </label>
        </div>

        <div class="row">
            <div class="col-80 col-offset-10">
                <button class="button button-block button-positive button-rounded">
                    Continue
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
