<ion-view view-title="Alternative Currency">
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-right">
                US Dollar
                <i class="icon ion-checkmark-round icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                Euro Zone Euro
            </ion-item>
            <ion-item class="item-icon-right">
                Pound Sterling
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
