<ion-view view-title="Network Fee Policy">
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-right">
                Priority (high fee)
            </ion-item>
            <ion-item class="item-icon-right">
                Normal (normal fee)
                <i class="icon ion-checkmark-round icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-right">
                Economy (low fee)
            </ion-item>
        </ion-list>
        <p class="color-grey padding">Transactions may include a fee collected by miners on the network. The higher the fee, the more likely the transaction will be included in the next block leading to faster confirmation times</p>
    </ion-content>
</ion-view>
