<ion-view view-title="Export Wallet">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-input item-stacked-label">
                <span class="input-label">SETUP AN EXPORT PASSWORD</span>
                <input type="text" placeholder="Your export password">
            </ion-item>
            <ion-item class="item-input item-stacked-label">
                <span class="input-label">SETUP AN EXPORT PASSWORD</span>
                <input type="text" placeholder="Your export password">
            </ion-item>
            <ion-item class="item-divider"></ion-item>
            <ion-toggle toggle-class="toggle-balanced">Include address book and history cache</ion-toggle>
            <ion-toggle toggle-class="toggle-balanced">Include private key</ion-toggle>
        </ion-list>
        <div class="row">
            <div class="col-60 col-offset-20 padding">
                <button class="button button-positive button-rounded button-block">
                    DOWNLOAD
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
