<ion-view view-title="Peer Management">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">
                <div class="row">
                    <div class="col-20">IP Address</div>
                    <div class="col-20">Coin Type</div>
                    <div class="col-20">Height</div>
                    <div class="col-20">Rank</div>
                    <div class="col-20">Unfavourite/Favourite</div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col-20">127.0.0.1</div>
                    <div class="col-20">BTC</div>
                    <div class="col-20">854849</div>
                    <div class="col-20">0</div>
                    <div class="col-20 text-center">
                        <label class="toggle">
                            <input type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
