<ion-view view-title="Sweep Wallet">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-input item-stacked-label item-icon-right">
                <span class="input-label">PAPER WALLET PRIVATE KEY</span>
                <input type="text" placeholder="Paste your Bitcoin paper wallet private key">
                <i class="icon ion-qr-scanner size-60"></i>
            </ion-item>
        </ion-list>
        <div class="row">
            <div class="col-10 text-center">
                <img src="img/bitcoin.jpeg" class="avatar-wallet"/>
            </div>
            <div class="col-60 col-offset-10 padding">
                <button class="button button-positive button-rounded button-block">
                    Scan Wallet Funds
                </button>
            </div>
        </div>
        <ion-item class="item-divider"></ion-item>
        <p class="text-center color-grey">
            Funds will be transferred to: Personal Wallet
        </p>
    </ion-content>
</ion-view>
