<ion-view view-title="Wallet Infomation">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider">
                Wallet Infomation
            </ion-item>
            <ion-item class="">
                Wallet Name
                <span class="fr">Personal Wallet</span>
            </ion-item>
            <ion-item class="">
                Wallet ID
                <span class="fr">232fdfd-4fghh755-232fdfd-4fghh755</span>
            </ion-item>
            <ion-item class="">
                Wallet Configuration (m-n)
                <span class="fr">1 - 1</span>
            </ion-item>

            <ion-item class="item-divider">
                Last Wallet Addresses
            </ion-item>
            <ion-item class="">
                u9YHX9BdiSnY0QHYe4eipjhyW64GoBIGAudlsCoA
            </ion-item>
            <ion-item class="">
                9cxpkxIJCN3krQ1k0K8Otqcvt4LCD5AA6WPghoPJ
            </ion-item>

            <ion-item class="item-divider">
                <p class="color-grey padding-top">Only Main (not change) addresses are shown</p>
                Balance by address
            </ion-item>
            <ion-item class="item-button-right">
                u9YHX9BdiSnY0QHYe4eipjhyW64GoBI <span class="color-grey size-14">0.3456 BTC</span>
                <button class="button button-positive button-small size-14">
                    Send from this address
                </button>
            </ion-item>
            <ion-item class="item-button-right">
                9cxpkxIJCN3krQ1k0K8Otqcvt4LCD5A <span class="color-grey size-14">0.3456 BTC</span>
                <button class="button button-positive button-small size-14">
                    Send from this address
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
