/* Empty. Add your own CSS if you like */
 .icon .send {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 65%;
  background-image: url('../img/icon1.png');
  background-size:contain;
}
.tabs .tab-item .icon.recieve {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 65%;
  background-image: url('../img/icon2.png');
  background-size:contain;
}

.item .dark  {
  background-color: #3f4041;
  border: none;
  border-top: 1px solid #464646;
  border-bottom: 2px solid #333333;
  padding: 20px;
  max-height: none;
}
.transaction-box { float: left; width: 100%;}
.transaction-box ul.transaction-list{ float:left; width:100%; margin: 50px 0 0; list-style:none; border:1px solid #333; min-height:250px;height: 0px;overflow-y: scroll;}
.transaction-box ul.transaction-list > li{ float:left; width:100%; border-bottom:1px solid #333;}
.transaction-box ul.transaction-list > li + li{ background:#EBEBEB;}
.transaction-box ul.transaction-list > li + li + li{ margin-top:5px; border-top:1px solid #333;}
.transaction-box ul.transaction-list > li ul.innr-list{ float:left; width:100%; list-style:none;}
.transaction-box ul.transaction-list > li ul.innr-list > li{ float:left; width:15%; padding:6px 0;}
.transaction-box ul.transaction-list > li:first-child ul.innr-list > li:last-child { padding-right:40px;}
.transaction-box ul.transaction-list > li ul.innr-list > li:last-child { text-align: right; width: 35%;}
.transaction-box ul.transaction-list > li + li ul.innr-list > li{ padding:12px 0;}
.transaction-box ul.transaction-list > li + li ul.innr-list > li span.new-btn a{ background:#3d8af7; border:1px solid #333; border-radius:10px; padding:5px 20px; color:#fff;}

.transaction-box span.big-btn{ float:left; width:100%; text-align:center; margin-top:-18px;}
.transaction-box span.big-btn a{ float:none; display:inline-block; background:#3d8af7; border:1px solid #333; border-radius:10px; padding:5px 80px; color:#fff;}
